@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
    scroll-behavior: smooth;
}
section
{
    padding: 100px;
}
.banner
{
    position: relative;
    min-height: 100vh;
    background: url(banner.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner h2
{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
    line-height: 1.5em;
}
.banner h2 span
{
    font-size: 1.5em;
    font-weight: 700;
}
.banner h3 
{
    font-size: 3em;
    color: #fff;
    font-weight: 500;
}
.btn
{
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;

}
header
{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
header.sticky{
   background: #fff;
   padding: 20px 100px;
   box-shadow: 0 5px 20px rgba(0,0,0,0.1);

}
header .logo
{
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header.sticky .logo{
    color: #111;
}

header ul
{
    position: relative;
    display: flex;
}
header ul li 
{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}
header.sticky ul li a{
    color: #111;
}
.heading
{
    width: 100%;
    text-align:center;
    margin-bottom: 30px;
    color: #111;

}
.heading h2{
    font-weight: 600
    font-size:30px;
}
.content
{
    display: flex;
    justify-content: space-between;
}
.contenBx h3
{
    font-size: 24px
    margin-bottom:10px;
}
.w50{
    min-width: 50%;
}
img{
    max-width: 100%
}
.services{
    background: #111;
}
.heading.white{
color: #fff;
}
.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.services .content .servicesBX
{
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}
.services .content .servicesBX:hover{
    background: #2196f3
}
.services .content .servicesBX img{
    max-width: 80px;
    filter: invert(1);
}
.services .content .servicesBX h2{
    font-size:20px;
    font-weight: 600; 
}
.work .content
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work .content .workBx{
    width: 50%;
    padding: 20px;
}
.work .content .workBx img{
    max-width: 100%;
}
.testimonial{
    background: #f7f7f7;
}
.testimonial .content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.testimonial .content .testimonialBx{
    min-width: calc(50% - 40px);
    padding: 60px 40px;
    margin: 20px;
    background: #2196f3;
}
.testimonial .content .testimonialBx p{
    color: #fff;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}
.testimonial .content .testimonialBx h3{
    margin-top: 40px;
    text-align: end;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1em;
}
.contact
{
    background: #111;

}
.formBx{
    min-width: 60%;
}
.formBx form{
    display: flex;
    flex-direction: column;
}
.formBx form h3, .contactInfo h3{
    color: #fff;
    font-size: 20px;
    font-weight: 500
    margin-bottom 10px;
}
.formBx form input,.formBx form textarea{
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}
.formBx form textarea{
    min-height: 200px;
}
.formBx form input::placeholder,.formBx form textarea::placeholder{
    color: #999;
}
.formBx form input[type="submit"]
{
    max-width: 100px;
    background: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.contactInfo
{
    min-width: 40%;
}
.contactInfoBx{
    position: relative;
}
.contactInfoBx .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.contactInfo .box .icon{
    min-width: 40px;
    padding-top: 4px;
    display: flex;
    align-items: flex-start;
    font-size: 24px;
    color: #fff;
}
.contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.contactInfo .box .text h3
{
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
}
.copyright{
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}
/*Responsive*/
@media(max-width:991px )
{
    header, 
    header.sticky{
        padding: 20px 50px;
        z-index: 1000;
    }
    .menu{
        position: fixed;
        top:75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0,0,0,0.2);
    }
    .menu.active{
        left: 0;
    }
    header ul li a{
        color: #111;
        font-size: 24px;
        margin: 10px;
    }
    .toggle{
        width: 40px;
        height:40px;
        background: url(menu.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .toggle.active{
        background: url(close.png);
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    header.sticky .toggle
    {
        filter: invert(1);
    }
    section
    {
        padding: 100px 50px;
    }
    .banner
    {
        padding: 150px 50px 100px;
    }
    .banner h2
    {
        font-size: 1.5em;
    }
    .banner h3
    {
        font-size: 1em;
    }
    .btn a
    {
        margin-top: 10px;
        font-size: 16px;
        padding: 10px 20px;
    }
    .heading h2
    {
        font-size: 24px;
    }
    .contentBx h3
    {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .content{
        flex-direction: column;
    }
    .w50{
        margin-bottom: 20px;
    }
    .services .content .servicesBX{
        margin: 10px;
    }
    .work .content .workBx {
    width: 100%;
    padding: 20px;
    }
    .testimonial .content .testimonialBx{
    min-width: calc(100% - 40px);
    padding: 40px 20px;
    margin: 10px;
    background: #2196f3;
    }
    .contactInfo{
        margin: 20px 0;
    }

}
@media(max-width:600px )
{
    header, 
    header.sticky{
        padding: 20px 20px;
    }
    section
    {
        padding: 100px 20px;
    }
    .banner
    {
        padding: 150px 20px 100px;
    }
    

}
*:focus {
  outline: none;
}

body {
  font-family: Helvetica, Arial;
  margin: 0;
  background-color: #ffeff5;
}

#app-cover {
  position: absolute;
  top: 82%;
  right: 1370px;
  left: 0;
  width: 430px;
  height: 100px;
  margin: -4px 0px;
}




#player {
  position: relative;
  height: 100%;
  z-index: 3;
}

#player-track {
  position: absolute;
  top: 0;
  right: 15px;
  left: 15px;
  padding: 13px 22px 10px 184px;
  background-color: #fff7f7;
  border-radius: 15px 15px 0 0;
  transition: 0.3s ease top;
  z-index: 1;
}

#player-track.active {
  top: -91px;
}

#album-name {
  color: #54576f;
  font-size: 17px;
  font-weight: bold;
}

#track-name {
  color: #acaebd;
  font-size: 13px;
  margin: 2px 0 13px 0;
}

#track-time {
  height: 12px;
  margin-bottom: 3px;
  overflow: hidden;
}

#current-time {
  float: left;
}

#track-length {
  float: right;
}

#current-time,
#track-length {
  color: transparent;
  font-size: 11px;
  background-color: #ffe8ee;
  border-radius: 10px;
  transition: 0.3s ease all;
}

#track-time.active #current-time,
#track-time.active #track-length {
  color: #f86d92;
  background-color: transparent;
}

#s-area,
#seek-bar {
  position: relative;
  height: 4px;
  border-radius: 4px;
}

#s-area {
  background-color: #ffe8ee;
  cursor: pointer;
}

#ins-time {
  position: absolute;
  top: -29px;
  color: #fff;
  font-size: 12px;
  white-space: pre;
  padding: 5px 6px;
  border-radius: 4px;
  display: none;
}

#s-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  z-index: 2;
}

#ins-time,
#s-hover {
  background-color: #3b3d50;
}

#seek-bar {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #fd6d94;
  transition: 0.2s ease width;
  z-index: 1;
}

#player-content {
  position: relative;
  height: 100%;
  background-color: #fff;
  box-shadow: auto #656565;
  border-radius: 15px;
  z-index: 2;
}

#album-art {
  position: absolute;
  top: -40px;
  width: 115px;
  height: 115px;
  margin-left: 40px;
  transform: rotateZ(0);
  transition: 0.3s ease all;
  box-shadow: 0 0 0 10px #fff;
  border-radius: 50%;
  overflow: hidden;
}

#album-art.active {
  top: -60px;
  box-shadow: 0 0 0 4px #fff7f7, 0 30px 50px -15px #afb7c1;
}

#album-art:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: 20px;
  height: 20px;
  margin: -10px auto 0 auto;
  background-color: #d6dee7;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px #fff;
  z-index: 2;
}

#album-art img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
}

#album-art img.active {
  opacity: 1;
  z-index: 1;
}

#album-art.active img.active {
  z-index: 1;
  -webkit-animation: rotateAlbumArt 3s linear 0s infinite forwards;
          animation: rotateAlbumArt 3s linear 0s infinite forwards;
}

@-webkit-keyframes rotateAlbumArt {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes rotateAlbumArt {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

#buffer-box {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  height: 13px;
  color: #1f1f1f;
  font-size: 13px;
  font-family: Helvetica;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  padding: 6px;
  margin: -12px auto 0 auto;
  background-color: rgba(255, 255, 255, 0.19);
  opacity: 0;
  z-index: 2;
}

#album-art img,
#buffer-box {
  transition: 0.1s linear all;
}

#album-art.buffering img {
  opacity: 0.25;
}

#album-art.buffering img.active {
  opacity: 0.8;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

#album-art.buffering #buffer-box {
  opacity: 1;
}

#player-controls {
  width: 250px;
  height: 100%;
  margin: 0 5px 0 141px;
  float: right;
  overflow: hidden;
}

.control {
  width: 33.333%;
  float: left;
  padding: 12px 0;
}

.button {
  width: 26px;
  height: 26px;
  padding: 25px;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
/* Nháº¡c */
.button i {
  display: block;
  color: #d6dee7;
  font-size: 26px;
  text-align: center;
  line-height: 1;
}

.button,
.button i {
  transition: 0.2s ease all;
}

.button:hover {
  background-color: #d6d6de;
}

.button:hover i {
  color: #fff;
}
